# Data cleansing project: Shark attacks



Inicio:

+ Exploración inicial. Describe, columns, value_counts() etc.
+ Filas duplicadas.

Posibles objetivos: 

+ Hora del día o condiciones lumínicas a la que ocurren más los ataques (hora, sitio, tipos)
+ Agresividad de los distintos tiburones
+ Actividades peligrosas
+ Países con más ataques
+ 

Pasos:

+ Valores nulos.
+ Datos inconsistentes (dividir información compuesta).
+ Data types. Memory usage
+ Valores atípicos (outliers).
+

In [1]:
# Librerias y settings generales:

import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np
import zipfile
import chardet
import regex as re

import warnings
warnings.filterwarnings('ignore')

# gráficos
import pylab as plt    # import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Descomprimimos y guardamos el archivo en un csv. 
# Da un error al leerlo desde read_csv si no se maneja el encoding_error de algunas entradas. 
# Poniendo replace las localizamos.

zf = zipfile.ZipFile('./archive.zip')
shark = pd.read_csv(zf.open('attacks.csv'), encoding = 'latin-1')

# Guardamos el original antes de seguir:

shark_ori = shark.copy()

shark.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
# Quitamos duplicados si los hay:

shark.drop_duplicates(inplace = True)

# Si hay filas que tienen TODAS las columnas nulas, las eliminamos:

shark.dropna(axis = 0, how="all",inplace = True)

shark.shape, shark_ori.shape # Nos hemos quitado la mayoría

((6311, 24), (25723, 24))

In [4]:
# Limpiamos los nombres de las columnas, quitando espacios innecesarios

shark.columns = [i.lower().replace(' ','_') for i in shark.columns]
colnames = list(shark.columns)
colnames[9] = 'sex'
colnames[12] = 'fatal'
colnames[14] = 'species'

shark.columns = colnames
shark.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
# Miramos a ver si hay columnas de valor constante que no aporten información sobre la influencia de factores

constant_col = []

for i in shark:
    if len(shark[i].unique()) == 1:
        constant_col.append(i)

constant_col # Parece que estrictamente constantes no hay

[]

In [6]:
# Empezamos una limpieza básica de las columnas

# COLUMNA 'sex'

print(shark.sex.value_counts())

# Cambiamos el sexo 'N' por 'M', es probable que sea un error de teclado ya que las teclas de ambas letras
# son contiguas. El sexo 'M ' es el mismo que 'M':

shark.sex[shark.sex == 'N'] = 'M' 
shark.sex[shark.sex == 'M '] = 'M' 

# Quedan dos valores raros, 'lli' y '.', que aparecen solo una vez. 
# El valor '.' corresponde a restos de 3 personas, por lo que dejamos la fila pendiente de
# quitar por si no nos sirve para el objetivo y asignamos el valor 'unknown'.
# El valor 'lli' corresponde a al ataque a Brian Kang. Asumimos sexo masculino, y sustituimos por 'M'

shark.sex[shark.sex == '.'] = 'unknown' 
shark.sex[shark.sex == 'lli'] = 'M' 

# Ahora quedan solo dos valores posibles. Observamos que el número de ataques masculinos es mucho mayor que el 
# número de ataques femeninos, lo que podría tener muchas causas, entre ellas el número de personas 
# de cada sexo practicando actividades de alta o baja peligrosidad

print('\n')
print(shark.sex.value_counts())

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: sex, dtype: int64


M          5099
F           637
unknown       1
Name: sex, dtype: int64

In [7]:
# COLUMNA 'fatal'

print(shark.fatal.value_counts())

shark.fatal[shark.fatal == ' N'] = 'N'
shark.fatal[shark.fatal == 'N '] = 'N'
shark.fatal[shark.fatal == 'y'] = 'Y'
shark.fatal[shark.fatal == 'M'] = 'N' # Asumimos error de introducción de datos, como antes
shark.fatal[shark.fatal == '2017'] = 'UNKNOWN' # Descripción no clara, dato desconocido

# Ahora pasamos 'UNKNOWN' a minúsculas y cambiamos Y/N por un booleano True/False:

shark.fatal[shark.fatal == 'UNKNOWN'] = 'unknown'
shark.fatal[shark.fatal == 'Y'] = True
shark.fatal[shark.fatal == 'N'] = False

shark.fatal.value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: fatal, dtype: int64

False      4302
True       1389
unknown      72
Name: fatal, dtype: int64

In [8]:
# COLUMNA 'case_number'

print(shark.case_number.value_counts())

0               8
1920.00.00.b    2
1966.12.26      2
2014.08.02      2
1990.05.10      2
               ..
1999.09.05      1
1999.09.10      1
1999.09.16      1
1999.09.18      1
xx              1
Name: case_number, Length: 6287, dtype: int64

In [9]:
# Las filas que tienen case_number = 0 son muy sospechosas. 
# Cuando las examinamos, vemos que son filas nulas en todas las columnas salvo en 'original_order'. 
# Estas filas no aportan información, se van fuera

#r'\d{4}-\d{2}-\d{2}'

shark.drop(index = shark[shark.case_number == '0'].index, inplace = True)
shark.shape, shark_ori.shape
print(shark.case_number.value_counts())

1920.00.00.b      2
1915.07.06.a.R    2
2009.12.18        2
2014.08.02        2
1962.06.11.b      2
                 ..
1999.09.05        1
1999.09.10        1
1999.09.16        1
1999.09.18        1
xx                1
Name: case_number, Length: 6286, dtype: int64

In [10]:
# Con respecto al valor 'xx', nos fijamos en el resto de esa fila:

display(shark[shark_ori['Case Number']=='xx'])

# Vemos que es nula, así que fuera.

shark.drop(index = shark[shark_ori['Case Number']=='xx'].index, inplace = True)

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:


# OJOOOOOOOOOOOOOOOOOOOOOOOOOOOOO QUITAR


# La columna 'case_number' contiene la fecha del registro en un formato mucho más fácil de procesar que
# la columna 'date'. 

# Ahora definimos una función para procesar la información de la columna 'case_number':

'''def clean_date(x):
    
    try:
        num = re.findall('\d+', x) # Buscamos una lista con los números que haya
        try:
            year = int(num[0])
            month = int(num[1])
            day = int(num[2]) 
        except:
            try:
                year = int(num[0])
                month = int(num[1])
                day = 'unknown'
            except:
                try:
                    year = int(num[0])
                    month = 'unknown'
                    day = 'unknown'
                except:
                        year = -1
                        month = -1
                        day = -1                    
                    
        res = [day,month,year]
            
    except: # Por si patata
        res = [-1,-1,-1]
        
    return res'''

# Y reescribimos cada columna con ella:

'''sharkk.day = [clean_date(e)[0] for e in sharkk.case_number]
sharkk.month = [clean_date(e)[1] for e in sharkk.case_number]
sharkk.year = [clean_date(e)[2] for e in sharkk.case_number]'''

'sharkk.day = [clean_date(e)[0] for e in sharkk.case_number]\nsharkk.month = [clean_date(e)[1] for e in sharkk.case_number]\nsharkk.year = [clean_date(e)[2] for e in sharkk.case_number]'

In [12]:
# Revisamos las que han salido rana, es decir, las etiquetadas con '-1':

In [13]:
# COLUMNA 'original_order'

print(shark.original_order.value_counts()) 

# Parece que esta columna es el orden original de registros, y que solo hay uno repetido. 
# Ordenamos la tabla según esta columna y la dejamos estar

shark.sort_values('original_order', ascending = True, inplace = True)
shark.reset_index (inplace = True, drop = True)

569.0     2
6303.0    1
2106.0    1
2097.0    1
2098.0    1
         ..
4205.0    1
4206.0    1
4207.0    1
4208.0    1
2.0       1
Name: original_order, Length: 6301, dtype: int64

In [14]:
# Limpiamos un poco más las filas. En aquellas en las que haya un porcentaje de columnas con más del 50% de
# nulos van fuera (solo queda una):

na_rows = shark.isna().mean(axis = 1)*100
na_rows[na_rows>50]
shark.drop(index = na_rows[na_rows>50].index, inplace = True)

shark.shape, shark_ori.shape

((6302, 24), (25723, 24))

In [15]:
# Vamos a por los valores nulos.

shark.isna().sum()

case_number                  1
date                         0
year                         2
type                         4
country                     50
area                       455
location                   540
activity                   544
name                       210
sex                        565
age                       2831
injury                      28
fatal                      539
time                      3354
species                   2838
investigator_or_source      17
pdf                          0
href_formula                 1
href                         0
case_number.1                0
case_number.2                0
original_order               0
unnamed:_22               6301
unnamed:_23               6300
dtype: int64

In [16]:
# En este punto, sería interesante ocuparnos sólo de los valores nulos que realmente vayan a influir. 
# Fijamos un objetivo:

# AVERIGUAR LA RELACIÓN ENTRE LA SUPERVIVENCIA AL ATAQUE DE UN TIBURÓN Y LA EDAD DE LA PERSONA ATACADA

# Las columnas que más nos interesan en este sentido:

# La edad
# La supervivencia
# El tipo de herida (buscaremos casos de heridas graves, no simples laceraciones)

# Eliminamos las filas que no tengan dato en alguna de las dos columnas más importantes, edad y supervivencia
# (previamente se han checkeado los casos en los que la edad falta como dato, y no se encuentra en otras columnas):

shark.drop(index = shark[(shark.fatal.isna())|(shark.age.isna())].index, inplace = True)

shark.shape, shark_ori.shape

((3244, 24), (25723, 24))

In [17]:
# Echemos un ojo a las columnas clave para limpiar su información

# Columna EDAD:

shark.age.unique()

array(['15', '16', '13 or 14', '50', '6', '25', '36', '27', '19', '21',
       '20', '14', 'young', '22', '17', '52', '12', '29', '7 or 8', '2½',
       '18', '28', '13', '35', '40', '39', '30', '3', '11', '23', '60',
       '37', '33', '26', '24', '9', 'Teen', '10', '31 or 33', '55', '64',
       '7', '43', '10 or 12', '41', '38', '47', '8', '54', '?    &   14',
       'A.M.', '70', '78', '  ', '42', '50s', '49', '45', '36 & 23', '32',
       '34', '31', '9 or 10', 'Both 11', '53', '48', 'F', '8 or 10',
       '17 & 16', '46', '"young"', '56', '81', ' 43', 'MAKE LINE GREEN',
       '61', '62', '57', '59', '33 & 26', '13 or 18', '"middle-age"', 'X',
       '17 & 35', '50 & 30', '5', '30 & 32', '44', '58', '25 or 28',
       '33 & 37', '(adult)', '1', '23 & 26', '25 to 35', '9 months',
       '9 & 12', '65', 'adult', '18 to 22', '66', '>50', '51', '20s',
       '20 ', '21 or 26', '45 ', '74 ', ' ', '75', 'Elderly', '87', '30s',
       '32 & 30', '69', "60's", '71', '20?', ' 28', '7      &    31',
       '63', ' 30', '73', 'mid-30s', '33 or 37', '21 & ?', '6½',
       '30 or 36', '\xa0 ', '84', '36 & 26', '77', 'Teens', '68', 'teen',
       '28, 23 & 30', '46 & 34', '12 or 13', '18 or 20', '86', '28 & 26',
       '74', '40s', '18 months', '72', '60s', '82'], dtype=object)

In [18]:
# Vemos que hay varios casos que aportan información imprecisa, como 'teens', 'eldery' o '(adult)'.
# También hay casos que describen dos ataques a la vez, y casos en los que la edad está expresada en meses.
# Identificaremos y gestionaremos todos los casos con una función basada en regex, que haga lo siguiente:

# Devolver el entero 0 si la información es ambigua (no numérica)
# Devolver el entero 0 si nos hablan de 'middle age'. 'mid-30s' también es muy ambiguo
# Devolver el entero 0 si la información está en meses (no incluiremos niños tan pequeños en el estudio)
# Devolver un entero redondeado con la media de las edades si la información es del tipo '13 or 14'
# Devolver el entero 0 si la información es sobre dos personas distintas, ya que son pocos casos y dificultarán 
# obtener conclusiones sobre ellos a partir del resto de columnas


def clean_age(x):
    if 'month' in x or 'mid' in x:
        res = 0
    elif 'or' in x:
        ages = re.findall('\d+', x)
        res0 = [int(e) for e in ages]
        res = int(np.mean(res0))
    else:
        ages = re.findall('\d+', x)
        if len(ages) == 1:
            res = int(ages[0])
        else:
            res = 0
            
    return res

shark.age = [clean_age(x) for x in shark.age]

shark.age.unique()

array([15, 16, 13, 50,  6, 25, 36, 27, 19, 21, 20, 14,  0, 22, 17, 52, 12,
       29,  7,  2, 18, 28, 35, 40, 39, 30,  3, 11, 23, 60, 37, 33, 26, 24,
        9, 10, 32, 55, 64, 43, 41, 38, 47,  8, 54, 70, 78, 42, 49, 45, 34,
       31, 53, 48, 46, 56, 81, 61, 62, 57, 59,  5, 44, 58,  1, 65, 66, 51,
       74, 75, 87, 69, 71, 63, 73, 84, 77, 68, 86, 72, 82])

In [19]:
# Eliminamos todas las filas que tengan edad 0, que son las que hemos etiquetado para descartar:

shark.drop(index = shark[shark.age == 0].index, inplace = True)

shark.shape, shark_ori.shape

((3195, 24), (25723, 24))

In [20]:
# Ya tenemos las dos columnas principales, age y fatal, limpias de valores nulos y procesadas para obtener
# información. Echamos ahora un vistazo al tipo de herida:

shark.injury.unique()[:20]

array(['FATAL. "Shark bit him in half, carrying away the lower extremities" ',
       'FATAL', 'FATAL, left leg bitten with severe blood loss',
       'FATAL, hip bitten  PROVOKED INCIDENT',
       'Right leg lacerated & surgically amputated', 'Arm severed',
       'Right hand severed', 'Bumped by sharks',
       'No injury, bumped by shark which took speared fish',
       'Ankle punctured & lacerated, hands abraded PROVOKED INCIDENT',
       'Severe abrasion to forearm from captive shark PROVOKED INICIDENT',
       'Foot severed',
       'Hand and foot severely bitten, surgically amputated',
       'Right leg severed at knee.  In 1796 he became Lord Mayor of London. In 1778 he commissioned  American artist, John Singleton Copley, to paint the incident: Watson and the Shark',
       'Left arm severed 2.5" from elbow, groin, abdomen, right forearm & hand lacerated, flesh removed from thigh, baring femur. Both arms surgically amputated: left arm above elbow, right arm above wrist. Survived',
       'FATAL     Injured by shark, died of tetanus', 'Survived',
       'Lacerations to leg', 'Left leg severely bitten',
       'Severe bite to thigh. Not known if he survived'], dtype=object)

In [21]:
# Hay muchísima variedad. En términos de supervivencia según la edad, nos interesan aquellos registros en los que
# el daño haya sido considerable, no un simple rasguño. Echando un ojo a las descripciones que contienen 
# 'no' + 'injury','minor' o 'slight', observamos que corresponden a ataques sin daño personal o con daños menores:

c = 0
a = []
b = []

for i in shark.injury.unique():
    try:
        if 'no' in i.lower() and 'injury' in i.lower() or 'minor' in i.lower() or 'slight' in i.lower():
            print(i)
            b.append(shark[shark.injury == i].index) # Nos guardamos los índices en 'b' para quitar filas luego
        else: 
            pass
        
    except: # Para localizar objetos no-string y posibles valores nulos
        a.append(i)

print(a)

No injury, bumped by shark which took speared fish
Minor injuries
No injury, shark tore hole in the side of the boat
No injury to occupants, shark bit keel
Minor injury
No injury, hooked shark rammed tripod PROVOKED INCIDENT
Torso bitten with pneumothorax, slight lacerations on left hand
Shark rammed boat; no injury to occupants
No injury
Minor injury to shoulder & back PROVOKED INCIDENT
Minor injury, ankle scratched by shark's teeth
No injury to occupant, shark grabbed rudder and dragged the dinghy stern-first
No injury; shark rammed boat, catapulting Leverenz in the sea & damaging boat
No injury, board scraped by shark
No injury, ski bumped
No injury,     Shark landed on top of him, knocked him back down 3 times
No injury to occupants, shark holed canoet
Minor injury to hand and groin from shark "caught on his fishing spear" PROVOKED INCIDENT
No injury, shark bit oar
Minor laceration to chest when he grabbed the shark by its tail PROVOKED INCIDENT
Minor bruises & abrasions on leg
Diver hit shark & right forearm slightly injured PROVOKED INCIDENT
No injury, shark bumped his 17' ski
No injury to diver, but shark bit hole in his wetsuit
No injury, right swim fin bitten
No injury, shark went for diver's leg & missed, diver hit shark on head with speargun & shark bit speargun
No injury, diver shot shark & it bit his speargun PROVOKED INCIDENT
No injury to occupant
No injury, PROVOKED INCIDENT
Slight lacerations to leg
No injury, speared shark towed Gilles 200 yards & tore hole in diving suit, and hit Dowswell's back with its tail PROVOKED INCIDENT
No injury, leg bumped by shark's tail
No injury, shark harrassed diver & attempted to bite his swimfins
No injury, shark hit his foot & circled
Shark brushed past, minor injuries if any
No injury, right sleeve of wetsuit ripped, weight on belt gashed
No injury, wetsuit bitten
No injury, Parker shot the shark when it came close to his nephew, Bill Bradbury (14), then the shark bent his speargun PROVOKED INCIDENT
Arm lacerated (minor injury)
No injury, shark bit spear & dragged diver 90'
Minor lacerations to hand and arm after he seized the shark's tail PROVOKED INCIDENT
Minor injury to left forearm  PROVOKED INCIDENT
No injury to diver, shark bit speargun
Minor injury, abdomen abraded when he collided with the shark
No injury, shark charged & impaled itself on spear
No injury, shark hit scuba tank
No injury, ski bitten
No injury, mother lifted him from the water
No injury, shark struck camera
No injury, speargun bitten
No injury, left elbow & torso bumped by sharks
No injury, said to have been attacked by shark but drove it away with a lobster hook
 FATAL. Shark bite was minor injury, but he suffered a heart attack afterwards and died 6 hours later
No injury, leg of jeans torn off
No injury, surboard flung into air & dented
2 minor lacerations in foot
No injury, surfboard bitten
Minor bite on heel & swim fin bitten
Minor bite on foot & swimfin
Minor injuries to hand
No injury, board bumped
No injury, swim fin torn
No injury, board bitten
No injury, shark bit speargun & pushed diver through the water
No injury, his foot was bumped by a shark biting the body of a passenger that had drowned.
Minor injury to ankle
No injury, shark took his catch, then towed & pushed diver through the water
No injury, rammed & catapulted from the water by shark after he shot at it & missed PROVOKED INCIDENT
No injury, shark bit her bathing suit
No injury, paddleski bitten
No Injury, board bitten
Shark & board collided. No injury, but board was dented
No Injury, surfboard bitten
No injury, pressure ding on surfboard
No injury, rammed by shark
Knocked off board by shark, no injury
No injury, shark bit air mattress, deflating it
Minor injury to torso
Minor injury to foot & ankle
No injury, foot bumped
No injury, knocked into water & board bitten
No injury, board struck by shark
Minor lacerations on left hand
No injury, bumped  by sharks
Foot bruised & minor lacerations
No injury, shark took chunk out of surfboard
Minor injury to left ankle & foot
No injury, kayak capsized
No Injury to occupant; canoe bitten
No injury, shark became tangled in hose & towed him 100'
Minor cuts, sufboard bitten
Minor bruises
No injury, kayak bitten
Minor lacerations to hand, 15" crescent-shaped piece removed from surfboard
No injury, shark bit board
No injury, swim fin bitten
No injury, bumped by shark
No Injury, Kayak holed
"Minor cuts to left leg"
Minor laceration to leg from a hooked shark PROVOKED INCIDENT
Hand bitten (minor injury)
No injury, towed by shark that grabbed stringer of fish tied to his waist
No injury  PROVOKED INCIDENT
No Injury, shark struck his board
Sierakowski suffered a minor facial injury, ski bitten in half by shark
Minor laceration on foot
Minor lacerations on right ankle & foot
No injury, but kayak scraped & dented
No injury, wetsuit punctured
No injury to diver, speargun damaged
Minor laceration & 3 punctures to right foot
No injury, flung off board
Minor lacerations on foot
Minor laceration on left leg
Minor lacerations to the dorsum of the right foot
Minor injury to arm and hand
No Injury to occupant, shark holed and sank boat
No injury, wetsuit & swimfin torn
No injury, shark rammed & bit kayak
Minor lacerations to dorsum of left foot
Minor cuts on right heel & foot
No injury. Shark made threat display, then diver shot the shark PROVOKED INCIDENT
Minor injury to left leg
No injury from shark
No Injury, shark hit board
No injury, 2 m to 2.5 m [6.75'  to 8.25'] shark made a threat display
Bruises & minor cuts
minor injury to foot
No injury, surfboard bitten
No injury, flung into water when shark bit rudder of ski
No injury, wetsuit torn & board bitten
Minor lacerations & abrasions on forearm
No injury, shark struck his board
Minor puncture wounds to leg
No injury, shark struck board & spun it around
No injury, knocked off surfboard
No injury, kayak bumped repeatedly
Minor cuts above his right eye
No injury, board damaged
Right foot: Toes and back of foot, minor injury
 No injury
No injury, knocked off board
No injury, shark bit ski
No injury
Minor cuts to dorsum & sole of left foot when he stepped on shark PROVOKED INCIDENT
No injury to occupant; shark bumped the kayak repeatedly for 15 minutes
No injury, shark nudged surfboard
Minor injury to right hand & thigh
Minor laceration to left foot
No injury, shark bumped surfboard
No injury, shark bit scuba tank boot
Minor lacerations to right foot
No injury, surf ski bitten
No injury, shark rammed surfboard
Minor injury to left hand
Minor injuries, surfboard bitten
No injury, shark removed piece of surfboard
Bruises to arm and hand, laceration to lower leg & minor injuries to foot
Minor cuts to right buttock & thigh
No injury, shark's fin caught his leg
Minor injuries to thigh & knee
PROVOKED INCIDENT           No injury. Diver touched 'dead' shark; shark bit his equipment-covered arm
No injury, shark bit surfboard
Minor injury to shoulder
Minor injury, lacerations to left ankle & foot
Minor injury, small lacerations to right foot
Minor injury, shark latched onto his abdomen
Minor injury to finger by netted shark PROVOKED INCIDENT
No injury, shark bit surfboard
No injury to surf-skiier, shark holed ski
No injury to surfer, surfboard bitten by the shark
 No injury. Shark bumped kayak, flinging her into the  water.
Minor laceration to foot
Shark leapt into & damaged the dinghy but no injury to occupants
Minor lacerations to  toe
No injury, surfboard leash severed
Minor injury to left foot
No injury, bumped off board by the shark
Minor injury to foot
No injury, shark struck kayak, catapulting him into the water
No injury, shark tore his swim fin
No injury, surfboard dented
Minor injury, bite chest and left calf
Minor bite to ankle
No injury, catapulted into the water & ski damage
No injury, shark bit rear of paddleboard
No injury, shark bit kayak
No injury, board broken in half
Puncture wounds and minor lacerations to dorsal surface of his left hand
2 sets of minor lacerations below her right knee
No injury, shark & board collided
Minor injury, lacerations to left lower leg
Minor puncture wounds to right ankle
Minor laceration to leg
No injury, board bumped by shark
Minor lacerations to left calf
No injury, sail bitten
Minor injuries to foot
No injury, surfboard rammed
No injury to diver, shark bit his video camera
Minor injuries to left leg and hand
Minor puncture wounds
Minor injury; puncture wounds to calf
No injury, minor damage to wetsuit
Minor injuries: scratches on nose & ankle. Board broken in two
No injury, shark bumped leg & board.
Minor injuries to left leg
No injury but kayak dented
No injury, punctures to swim fin
No injury, surfboard damaged
No injury, but fin lost from surfboard
Minor lacerations to foot
Minor wound to his thigh when shark bit kayak
No injury, shark bit paddleboard
No injury, kayaker fell in the water when kayak bitten by a shark
No injury, ski severely damaged
No injury, surfer knocked off board when shark struck surfboard
No injury, shoe bitten by hooked and landed shark PROVOKED INCIDENT
Minor injury to elbow
No injury, but swim fin bitten & torn
Minor lacerations to left foot & heel
No injury, shark grabbed hood
Minor puncture wounds to knee
No injury, chunk missing from surfboard
Minor lacerations to right hand
Bitten on lower right leg, reported as a minor injury
No injury, holes in wetsuit
Minor injury to foot & shin
No injury, shark became entangled in his surfboard leash
No injury & not on board. Board adrift when bitten by shark
Minor injury to left lower leg & heel
Minor injury, shin bitten
No injury to occupants, hull bitten
Minor lacerations to left foot
No injury, but surfboard severely damaged
No injury but shark took his pole spear
Minor lacerations to left heel and big toe
Minor lacerations to posterior lower leg
Minor injuries to hand & arm
Minor injuries to right leg
No injury, shark's teeth scratched hull
No injury but kayak bitten
No injury, knocked off ski
Minor lacerations to dorsum of right foot
Minor injury to calf
Minor lacerations to forearm when he grabbed shark by its tail     PROVOKED INCIDENT
No injury, shark bumped & damaged board
No injury to occupant. Kayak bitten by gaffed shark. PROVOKED INCIDENT
Minor injury to sole of foot
Minor inuries to toes
No injury, shark struk sufer's leg and his board
No injury, shark struck board, tossing her into the sea
Minor laceration to hand
Minor injury to left ankle
No injury, shark leapt on surfboard
Minor injury to head
Minor injury to chest PROVOKED INCIDENT
No injury, board dented
Minor puncture wound to foot
Minor lacerations to right shoulder
No injury but shark punctured his wetsuit after he prodded it with his spear PROVOKED INCIDENT
Minor injury to toes
Minor injury to leg
Calf bumped but no injury
No injury. Leg rope severed, knocked off board by shark
Minor injury to arm
Minor injury to thigh
Minor wound to lower right leg & surfboard bitten
No injury, but ski severely damaged
Minor laceration to ring finger
Minor
No injury, shark bit off stern of kayak
Thigh nipped, minor injury
Minor injury to right calf
Bite to left thigh / minor injury
Minor cuts to sole & toes of left foot
Minor injury to right hand
Minor lacerations to right hip
Minor injury to thigh, PROVOKED INCIDENT
Minor injury to left forearm
No injury, shark took his swimfin
No injury no attack. This is considerd an "encounter"
Shark rammed kayak, no injury to occupant  PROVOKED INCIDENT
Minor injury, ankle grazed
No injury, said to have been charged by sharks several times
Minor injuries to legs
No injury, shark bit hole in ski
No injury, knocked off board by shark
No injury, shark bit scuba gear
Minor bite to hand by captive shark. PROVOKED INCIDENT
Minor injury to foot. PROVOKED INCIDENT
Minor injury to left thigh
No injury to occupant, outrigger canoe and paddle damaged
[nan]

In [22]:
# Con este bucle, confirmamos que todas estas descripciones son de daños personales menores o nulos.
# También nos sobran valores nulos, cuya presencia se ha detectado en el bucle.
# Reescribimos estos últimos con 'unknown', y quitamos las filas de los de daños menores:

shark.injury = shark.injury.fillna('unknown')

for i in b:
    shark.drop(index = i, inplace = True)

shark.shape, shark_ori.shape

# De los ataques que quedan no todos serán graves, pero sí la mayoría, y nos servirán para 
# obtener alguna conclusión estadística.

((2797, 24), (25723, 24))

In [23]:
# Pasamos ahora a la columna del año del ataque, para descartar los casos anteriores a 1900 y centrar
# el estudio en registros más actuales. La columna de 'year' tiene valores absurdos. Si calculamos el mínimo
# obtenemos 0:

shark.year.min()

# Por eso, vamos a limpiar y procesar ahora la columna 'date'.

0.0

In [24]:
# PROCESADO DE FECHAS

# Columnas 'date' y 'year':

# Vamos a rellenar las columnas libres que tenemos, 'unnamed:_22' y 'unnamed:_23', 
# con el día y el mes, e iremos sobreescribiendo también el año en la columna 'year' en que hay algunas
# entradas falsas que tienen valor 0 y demás

# Primero renombramos estas dos columnas libres:

col_names = list(shark.columns)
col_names[-1] = 'month'
col_names[-2] = 'day'
shark.columns = [e for e in col_names]

# Ahora, como sólo nos vamos a quedar con las fechas superiores a 1900, hacemos un primer filtro. 
# Buscaremos números de cuatro dígitos superiores o iguales a 1900 en 'date', 'case_number', 'case_number.1',
# 'case_number.2' y 'year'. Si no lo encontramos en ninguna de esas columnas, marcaremos 'year' con -1 para 
# eliminar el registro.

def locate_highyear(x):
    num = re.findall('\d+', x) # Hacemos una lista con los números que haya en x
    res = 0
    for i in num:
        try:
            if int(i)>=1900:
                res+=1 # Si alguno pasa de 1900, hacemos crecer el contador
            else:
                pass
        except:
            pass
    return res

for i in shark.index:
    if sum([locate_highyear(shark.date[i]),locate_highyear(shark.case_number[i]),
           locate_highyear(shark['case_number.1'][i]),locate_highyear(shark['case_number.2'][i])]) == 0:
        shark.drop(index = i, inplace = True)
    else:
        pass
    
shark.shape, shark_ori.shape

((2722, 24), (25723, 24))

In [25]:
for i in shark.date.unique():
    print(i)

Early 1930s
1941-1942
Before 1957
1960s
Before 1962
No date, Before  1975
Before 2009
Before Oct-2009
14-Nov-1900
30-Jul-1901
01-Dec-1901
19-Jan-1902
10-Nov-1902
Reported 22-Dec-1902
July-1903
1904
04-Feb-1904
26-Mar-1905
06-Apr-1905
29-Jul-1905
Aug-1905
20-Jan-1906
28-Jan-1906
14-Apr-1906
1907
03-Feb-1907
05-Feb-1907
31-Dec-1908
15-Jul-1909
Ca. 1911
09-May-1911
25-Oct-1911
Reported 13-Jan-1912
26-Jan-1912
19-Feb-1912
30-Aug-1912
Reported 30-Nov-1912
21-Nov-1913
10-Jun-1914
09-Sep-1914
01-Jan-1915
10-Nov-1915
03-Apr-1916
23-Jun-1916
30-Jun-1916
01-Jul-1916
12-Jul-1916
09-Nov-1916
08-Dec-1916
30-Dec-1916
19-Sep-1918
05-Jan-1919
09-Jan-1919
07-Dec-1919
Reported 30-Dec-1919
1920
15-Jan-1920
03-Feb-1920
08-Mar-1920
29-Jun-1920
28-Aug-1921
04-Oct-1921
27-Nov-1921
11-Dec-1921
04-Jan-1922
15-Jan-1922
04-Feb-1922
02-Mar-1922
13-Mar-1922
06-May-1922
24-May 1922
17-Jun-1922
29-Sep-1922
05-Dec-1922
27-Jan-1923
Feb-1923
09-Jan-1924
29-Jan-1924
13-Feb-1924
22-Apr-1924
25-Apr-1924
21-Nov-1924
24-Nov-1924
12-Mar-1925
07-Mar-1925 or 27-Mar-1925
22-Nov-1925
22-Apr-1926
08-Jul-1926
23-Jul-1926
24-Aug-1926
23-Oct-1926
1927
03-Jan-1927
Feb-1927
11-Mar-1927
28-Dec-1927
1928
Jan-1928
27-Jan-1928
04-Apr-1928
06-Apr-1928
14-Apr-1928
04-Nov-1928
1929
12-Jan-1929
08-Feb-1929
18-Feb-1929
04-Mar-1929
16-Mar-1929
11-Apr-1929
01-Sep-1929
Reported 03-Dec-1929
Reported 09-Dec-1929
16-Dec-1929
26-Dec-1929
1930
16-Jan-1930
15-Feb-1930
20-Feb-1930
11-Jul-1930
19-Jul-1930
16-Aug-1930
25-Dec-1930
07-Jan-1931
22-Mar-1931
25-Aug-1931
31-Aug-1931
21-Sep-1931
26-Nov-1931
1932
28-Jun-1932
11-Oct-1932
04-Jan-1933
10-Apr-1933
21-Jun-1933
Reported 07-Jul-1933
18-Nov-1933
07-Jan-1934
27-Jan-1934
12-Mar-1934
01-Apr-1934
15-Apr-1934
20-Jun-1934
05-Aug-1934
21-Aug-1934
09-Oct-1934
23-Oct-1934
23-Dec-1934
31-Dec-1934
14-Feb-1935
02-Mar-1935
09-Mar-1935
13-Mar-1935
18-Jun-1935
01-Jul-1935
05-Jul-1935
26-Aug-1935
21-Sep-1935
13-Nov-1935
22-Jan-1936
04-Feb-1936
22-Apr-1936
26-Jun-1936
25-Jul-1936
01-Dec-1936
12-Dec-1936
27-Jan-1937
03-Feb-1937
13-Feb-1937
15-May-1937
    15-Jun-1937
02-Aug-1937
31-Aug-1937
24-Oct-1937
27-Oct-1937
11-Nov-1937
1938
18-Jan-1938
15-May-1938
12-Jul-1938
17-Jul-1938
05-Oct-1938
27-Dec-1938
12-Apr-1939
18-Jul-1939
01-Aug-1939
Reported 25-Oct-1939
14-Dec-1939
07-Jan-1940
15-Jan-1940
23-Jan-1940
29-Jan-1940
4-Feb-1940
22-Feb-1940
31-Mar-1940
Sep-1940
20-Dec-1940
28-Dec-1940
1941
29-Jan-1941
13-Feb-1941
09-Mar-1941
15-Jun-1941
01-Aug-1941
27-Nov-1941
03-Dec-1941
04-Jan-1942
06-Jul-1942
12-Jul-1942
12-Sep-1942
12-Oct-1942
01-Nov-1942
16-Nov-1942
25-Nov-1942
26-Dec-1942
1943
21-Mar-1943
17-May-1943
23-Sep-1943
12-Dec-1943
04-Jan-1944
14-Jan-1944
20-Jan-1944
18-Feb-1944
14-Mar-1944
26-Mar-1944
31-May-1944
22-Jul-144
20-Aug-1944
03-Sep-1944
08-Nov-1944
Between 18 & 22-Dec 1944
1945
06-Mar-1945
06-Sep-1945
19-Sep-1945
01-Jan-1946
05-Jan-1946
07-Jan-1946
17-Jan-1946
24-Jan-1946
10-Feb-1946
16-Feb-1946
19-Apr-1946
28-Jun-1946
18-Jul-1946
18-Aug-1946
24-Aug-1946
14-Oct-1946
20-Nov-1946
28-Dec-1946
05-Jan-1947
09-Mar-1947
12-Mar-1947
Apr-1947
11-Apr-1947
20-Apr-1947
27-Jun-1947
15-Jul-1947
Reported 27-Jul-1947
04-Aug-1947
10-Oct-1947
Nov-1947
08-Nov-1947
21-Dec-1947
Summer 1948
12-Feb-1948
Mar-1948
10-May-1948
01-Jul-1948
Aug-1948
03-Aug-1948
19-Aug-1948
02-Sep-1948
22-Sep-1948
 18-Nov-1948
14-Dec-1948
26-Dec-1948
27-Dec-1948
1949
23-Jan-1949
17-Apr-1949
13-May-1949
16-May-1949
16-Jul-1949
25-Jul-1949
28-Jul-1949
07-July-1949
Reported 10-Aug-1949
16-Aug-1949
28-Aug-1949
20-Nov-1949
Summer 1950
11-Feb-1950
08-Mar-1950
09-Apr-1950
24-May-1950
06-Jun-1950
25-Jun-1950
Jul-1950
10-Jul-1950
15-Jul-1950
21-Jul-1950
06-Aug-1950
04-Oct-1950
28-Oct-1950
25-Nov-1950
16-Dec-1950
21-Jan-1951
01-Feb-1951
03-Feb-1951
19-Feb-1951
15-Mar-1951
22-May-1951
Jun-1951
11-Jul-1951
Reported 19-Jul-1951
17-Aug-1951
Reported 02-Sep-1951
29-Sep-1951
22-Oct-1951
28-Nov-1951
29-Nov-1951
6-Dec-1951
16-Dec-1951
21-Dec-1951
1952
13-Jul-1952
27-Jul-1952
05-Aug-1952
03-Dec-1952
7-Dec-1952
04-Aug-1952
21-Dec-1952
20-Jan-1953
15-Feb-1953
Mar-1953
04-Apr-1953
01-Jul-1953
15-Jul-1953
26-Jul-1953
31-Jul-1953
Reported 03-Sep-1953
27-Sep-1953
13-Dec-1953
22-Dec-1953
1954
15-Jan-1954
22-Jan-1954
27-Feb-1954
27-Jun-1954
29-Jun-1954
03-Jul-1954
28-Jul-1954
30-Jul-1954
19955
04-Sep-1954
15-Sep-1954
06-Oct-1954
04-Dec-1954
11-Dec-1954
29-Dec-1954
Ca. 1955
1955
17-Jan-1955
04-Feb-1955
05-Feb-1955
06-Feb-1955
Mar-1955
09-Mar-1955
23-Jun-1955
25-Jul-1955
08-Aug-1955
26-Aug-1955
30-Aug-1955
04-Sep-1955
16-Oct-1955
16-Nov-1955
1956
16-Jan-1956
Reported 16-Jan-1956
Reported 10-Feb-1956
26-Feb-1956
04-Mar-1956
11-Mar-1956
07-May-1956
 22-Jun-1956
12-Jul-1956
17-Jul-1956
20-Jul-1956
26-Jul-1956
28-Jul-1956
15-Aug-1956
Reported 15-Aug-1956
25-Aug-1956
23-Sep-1956
07-Oct-1956
27-Oct-1956
09-Dec-1956
24-Dec-1956
26-Dec-1956
1957
05-Jan-1957
07-Apr-1957
13-Apr-1957
22-Apr-1957
28-Apr-1957
11-May-1957
09-Jul-1957
15-Jul-1957
23-Oct-1957
24-Oct-1957
18-Dec-1957
20-Dec-1957
23-Dec-1957
26-Dec-1957
30-Dec-1957
19-Jan-1958
27-Jan-1958
01-Feb-1958
03-Apr-1958
05-Apr-1958
19-Apr-1958
30-Apr-1958
24-Jun-1958
26-Jun-1958
01-Jul-1958
02-Jul-1958
04-Jul-1958
 08-Jul-1958
10-Jul-1958
27-Jul-1958
01-Sep-1958
06-Sep-1958
13-Sep-1958
Oct-1958
12-Oct-1958
23-Nov-1958
12-Dec-1958
13-Dec-1958
23-Dec-1958
15-Jan-1959
17-Jan-1959
25-Jan-1959
27-Jan-1959
31-Jan-1959
01-Feb-1959
02-Feb-1959 Reported
08-Mar-1959
29-Mar-1959
11-Apr-1959
03-May-1959
07-May-1959
14-Jun-1959
02-Jul-1959
03-Jul-1959
25-Jul-1959
28-Jul-1959
10-Aug-1959
11-Aug-1959
15-Aug-1959
26-Sep-1959
30-Sep-1959
Oct-1959
04-Oct-1959
10-Nov-1959
22-Nov-1959
28-Nov-1959
29-Nov-1959
Dec-1959
19-Dec-1959
26-Dec-1959
Ca. 1960
1960
16-Jan-1960
19-Feb-1960
28-Mar-1960
31-Mar-1960
12-Apr-1960
24-Apr-1960
30-Apr-1960
19-May-1960
24-May-1960
29-May-1960
04-Jun-1960
05-Jun-1960
27-Jun-1960
03-Jul-1960
05-Jul-1960
27-Jul-1960
04-Aug-1960
10-Aug-1960
21-Aug-1960
22-Aug-1960
24-Aug-1960
30-Aug-1960
Oct-1960
06-Nov-1960
11-Nov-1960
27-Nov-1960
20-Dec-1960
24-Dec-1960
1961
03-Jan-1961
06-Jan-1961
15-Jan-1961
22-Jan-1961
01-Feb-1961
12-Feb-1961
17-Feb-1961
07-Mar-1961
09-Mar-1961
12-Mar-1961
18-Mar-1961
30-Mar-1961
09-Apr-1961
14-Apr-1961
16-Apr-1961
21-Apr-1961
15-May-1961
01-Jun-1961
18-Jun-1961
24-Jun-1961
Jul-1961
16-Jul-1961
29-Jul-1961
02-Aug-1961
04-Aug-1961
16-Aug-1961
20-Aug-1961
23-Sep-1961
24-Sep-1961
26-Sep-1961
Oct-1961
13-Dec-1961
18-Dec-1961
28-Dec-1961
01-Jan-1962
11-Jan-1962
14-Jan-1962
15-Jan-1962
21-Jan-1962
26-Jan-1962
27-Jan-1962
04-Feb-1962
05-Feb-1962
07-Feb-1962
18-Feb-1962
24-Mar-1962
07-Apr-1962
09-Apr-1962
29-May-1962
03-Jun-1962
04-Jun-1962
10-Jun-1962
11-Jun-1962
17-Jun-1962
07-Jul-1962
10-Jul-1962
19-Jul-1962
20-Jul-1962
28-Jul-1962
Aug-1962
12-Aug-1962
19-Aug-1962
29-Aug-1962
30-Aug-1962
02-Sep-1962
13-Sep-1962
22-Sep-1962
30-Sep-1962
Oct-1962
15-Oct-1962
25-Oct-1962
11-Nov-1962
09-Dec-1962
06-Jan-1963
11-Jan-1963
28-Jan-1963
30-Jan-1963
06-Feb-1963
08-Feb-1963
24-Feb-1963
12-Apr-1963
13-Apr-1963
17-Apr-1963
20-Apr-1963
01-Jun-1963
11-Jul-1963
15-Jul-1963
28-Jul-1963
13-Sep-1963
22-Sep-1963
15-Oct-1963
16-Oct-1963
04-Nov-1963
25-Nov-1963
28-Nov-1963
30-Nov-1963
30-Nov-1963
04-Dec-1963
08-Dec-1963
20-Dec-1963
22-Dec-1963
25-Dec-1963
26-Dec-1963
29-Dec-1963
04-Jan-1964
11-Jan-1964
22-Jan-1964
23-Jan-1964
05-Feb-1964
08-Feb-1954
14-Feb-1964
28-Mar-1964
May 1964
08-May-1964
23-Jun-1964
10-Jul-1964
27-Jul-1964
Aug-1964
03-Aug-1964
23-Aug-1964
26-Aug-1964
07-Sep-1964
20-Sep-1964
04-Oct-1964
13-Nov-1964
18-Nov-1964
29-Nov-1964
06-Dec-1964
09-Dec-1964
25-Dec-1964
Summer 1965
09-Jan-1965
16-Jan-1965
04-Feb-1965
14-Feb-1965
14-Mar-1965
04-Apr-1965
10-Apr-1965
29-Apr-1965
May 1965
09-Jun-1965
26-Jul-1965
26-Aug-1965
08-Sep-1965
Oct-1965
10-Oct-1965
16-Oct-1965
21-Oct-1965
03-Nov-1965
21-Nov-1965
28-Dec-1965
05-Jan-1966
08-Jan-1966
09-Jan-1966
10-Jan-1966
11-Jan-1966
15-Jan-1966
22-Jan-1966
29-Jan-1966
27-Feb-1966
08-Apr-1966
20-May-1966
04-Jun-1966
11-Jun-1966
22-Jun-1966
14-Jul-1966
17-Jul-1966
19-Jul-1966
31-Jul-1966
13-Aug-1966
16-Aug-1966
23-Aug-1966
27-Aug-1966
8-Sep-1966
19-Sep-1966
27-Sep-1966
19-Oct-1966
30-Oct-1966
14-Nov-1966
26-Dec-1966
27-Dec-1966
31-Dec-1966
06-Jan-1967
21-Jan-1967
01-Mar-1967
09-Mar-1967
12-Mar-1967
19-Mar-1967
20-Mar-1967
Apr-1967
09-May-1967
13 or 30-May-1967
13-Jun-1967
05-Jul-1967
29-Jul-1967
07-Aug-1967
15-Aug-1967
19-Aug-1967
26-Aug-1967
27-Aug-1967
01-Sep-1967
Oct-1967
17-Oct-1967
15-Nov-1967
30-Nov-1967
17-Dec-1967
18-Dec-1967
30-Dec-1967
17-Jan-1968
20-Feb-1968
26-Feb-1968
10-Mar-1968
25-Mar-1968
07-Apr-1968
Reported 11-Apr-1968
15-Apr-1968
20-Apr-1968
May-1968
09-Jun-1968
25-Jun-1968
16-Jul-1968
23-Jul-1968
27-Jul-1968
08-Aug-1968
11-Aug-1968
13-Aug-1968
21-Aug-1968
15-Sep-1968
02-Nov-1968
06-Nov-1968
25-Dec-1968
26-Dec-1968
27-Jan-1969
Reported 17-Feb-1969
09-Mar-1969
25-Mar-1969
22-May-1969
24-May-1969
12-Jun-1969
27-Jun-1969
22-Jul-1969
Aug-1969
02-Aug-1969
22-Aug-1969
06-Sep-1969
05-Nov-1969
30-Nov-1969
1970s
 Jan-1970
10-Jan-1970
23-Jan-1970
5-Feb-1970
23-Mar-1970
4-Apr-1970
13-Jun-1970
15-Jun-1970
22-Jun-1970
02-Sep-1970
05-Sep-1970
13-Sep-1970
28-Sep-1970
03-Dec-1970
17-Dec-1970
1971
30-Mar-1971
5-Apr-1971
6-Apr-1971
11-Apr-1971
Reported 16-Apr-1971
30-Jun-1971
26-Jul-1971
21-Aug-1971
07-Sep-1971
25-Sep-1971
02-Oct-1971
14-Oct-1971
23-Oct-1971
27-Oct-1971
Reported 25-Nov-1971
05-Dec-1971
16-Dec-1971
23-Dec-1971
01-Jan-1971
01-Jan-1972
20-Feb-1972
21-Mar-1972
01-Apr-1972
16-Apr-1972
06-May-1972
28-May-1972
10-Jun-1972
08-Aug-1972
29-Aug-1972
14-Oct-1972
21-Oct-1972
08-Dec-1972
25-Dec-1972
26-Dec-1972
31-Dec-1972
27-Feb-1973
Mar-1973
05-Mar-1973
04-Apr-1973
16-Aug-1973
25-Aug-1973
27-Aug-1973
09-Sep-1973
Reported 10-Sep-1973
14-Sep-1973
24-Nov-1973
Dec-1973
Reported 18-Dec-1973
21-Dec-1973
25-Dec-1973
07-Jan-1974
09-Jan-1974
13-Feb-1974
04-Apr-1974
12-Apr-1974
14-Apr-1974
20-Apr-1974
26-May-1974
20-Jun-1974
02-Jul-1974
20-Jul-1974
10-Aug-1974
16-Aug-1974
23-Aug-1974
01-Sep-1974
07-Sep-1974
14-Sep-1974
28-Sep-1974
01-Nov-1974
12-Dec-1974
1975
19-Jan-1975
01-Feb-1975
09-Feb-1975
10-Feb-1975
23-Feb-1975
13-Mar-1975
16-Mar-1975
20-May 1975
25-May-1975
15-Jun-1975
23-Jun-1975
04-Jul-1975
5-Jul-1975
15-Jul-1975
23-Jul-1975
26-Jul-1975
26-Jul-1975.b
30-Jul-1975
04-Aug-1975
09-Aug-1975
12-Aug-1975
17-Aug-1975
Sep-1975
12-Oct-1975
02-Nov-1975
19-Nov-1975
02-Dec-1975
06-Dec-1975
08-Jan-1976
12-Mar-1976
Reported 02-Jun-1976
23-Jun-1976
12-Jul-1976
16-Jul-1976
21-Jul-1976
24-Jul-1976
26-Aug-1976
06-Sep-1976
12-Sep-1976
19-Sep-1976
06-Oct-1976
18-Oct-1976
25-Nov-1976
27-Nov-1976
18-Dec-1976
26-Feb-1977
13-Mar-1977
17-Mar-1977
06-Jun-1977
26-Jun-1977
02-Jul-1977
14-Aug-1977
23-Aug-1977
31-Aug-1977
19-Dec-1977
31-Dec-1977
07-Jan-1978
02-Apr-1978
21-Jun-1978
19-Jul-1978
Reported 02-Sep-1978
23-Nov-1978
12-Dec-1978
21-Feb-1979
24-Mar-1979
08-Apr-1979
05 May 1979
19-Jun-1979
05-Aug-1979
26-Aug-1979
28-Aug-1979
14-Sep-1979
27-Nov-1979
 01-Dec-1979
05-Dec-1979
21-Dec-1979
1980s
Summer 1980
10-Jan-1980
25-Jan-1980
31-Jan-1980
11-Mar-1980
29-Mar-1980
Apr-1980
26-Jun-1980
27-Jul-1980
10-Aug-1980
Reported 22-Aug-1980
27-Oct-1980
11-Nov-1980
24-Nov-1980
30-Jan-1981
02-Feb-1981
19-Feb-1981
24-Mar-1981
25-Mar-1981
05-May-1981
19-May-1981
23-May-1981
18-Jul-1981
20-Jul-1981
07-Aug-1981
10-Aug-1981
24-Aug-1981
29-Aug-1981
03-Sep-1981
15-Sep-1981
28-Sep-1981
01-Oct-1981
16-Oct-1981
19-Oct-1981
09-Nov-1981
19-Dec-1981
29-Jan-1982
07-Feb-1982
13-Feb-1982
27-Feb-1982
28-Feb-1982
07-Mar-1982
10-Mar-1982
  25-Jun-1982
26-Jun-1982
29-Jun-1982
01-Jul-1982
19-Jul-1982
29-Aug-1982
19-Sep-1982
25-Sep-1982
27-Sep-1982
13-Oct-1982
10-Jan-1983
24-Jan-1983
20-Feb-1983
30-Mar-1983
02-Apr-1983
12-Apr-1983
21-May-1983
31-May-1983
15-Jun-1983
20-Jun-1983
22-Jun-1983
29-Jun-1983
08-Jul-1983
12-Jul-1983
25-Jul-1983
26-Jul-1983
13-Aug-1983
15-Aug-1983
20-Aug-1983
04-Sep-1983
13-Oct-1983
17-Oct-1983
Reported      10-Nov-1983
21-Dec-1983
22-Dec-1983
24-Dec-1983
25-Dec-1983
04-Jan-1984
05-Jan-1984
11-Feb-1984
17-Feb-1984
31-May-1984
03-Jun-1984
01-Jul-1984
24-Jul-1984
15-Sep-1984
22-Sep-1984
23-Sep-1984
30-Sep-1984
14-Oct-1984
21-Oct-1984
04-Nov-1984
11-Nov-1984
30-Nov-1984
Jan-1985
17-Jan-1985
27-Jan-1985
03-Feb-1985
18-Feb-1985
03-Mar-1985
16-Mar-1985
08-May-1985
Mid Jul-1985 or mid Jul-1986
19-Jul-1985
25-Jul-1985
22-Aug-1985
12-Oct-1985
18-Oct-1985
24-Oct-1985
03-Nov-1985
12-Jan-1986
06-Feb-1986
07-Feb-1986
15-Mar-1986
09-Jul-1986
19-Aug-1986
Sep-1986
Oct-1986
03-Oct-1986
04-Nov-1986
19-Nov-1986
30-Nov-1986
06-Dec-1986
11-Dec-1986
22-Dec-1986
06-Jan-1987
28-Jan-1987
30-Mar-1987
01-Apr-1987
18-Apr-1987
06-May-1987
25-May-1987
09-Jul-1987
12-Jul-1987
21-Jul-1987
15-Aug-1987
20-Aug-1987
13-Sep-1987
18-Sep-1987
11-Oct-1987
26-Oct-1987
21-Nov-1987
17-Dec-1987
1988
06-Jan-1988
02-Feb-1988
13-Feb-1988
14-Feb-1988
16-Mar-1988
31-Mar-1988
14-Apr-1988
15-Apr-1988
04-May-1988
10-May-1988
27-May-1988
01-Jun-1988
05-Jun-1988
09-Jun-1988
16-Jun-1988
04-Jul-1988
11-Jul-1988
17-Jul-1988
19-Jul-1988
11-Aug-1988
22-Aug-1988
13-Sep-1988
28-Sep-1988
Oct-1988
06-Oct-1988
10-Oct-1988
11-Oct-1988
14-Oct-1988
22-Oct-1988
23-Oct-1988
07-Nov-1988
08-Nov-1988
03-Jan-1989
20-Jan-1989
26-Jan-1989
02-Feb-1989
09-Mar-1989
23-Apr-1989
03-Jun-1989
17-Jun-1989
07-Jul-1989
14-Jul-1989
20-Jul-1989
Reported    06-Aug-1989
09-Aug-1989
22-Aug-1989
29-Aug-1989
03-Sep-1989
09-Sep-1989
13-Sep-1989
17-Sep-1989
11-Oct-1989
Reported 29-Oct-1989
02-Nov-1989
18-Nov-1989
22-Nov-1989
03- Dec-1989
1990
05-Feb-1990
  24-Mar-1990
08-Apr-1990
09-Apr-1990
14-Apr-1990
06-May-1990
10-May-1990
23-Jun-1990
24-Jun-1990
22-Jul-1990
28-Aug-1990
08-Sep-1990
15-Sep-1990
12-Oct-1990
20-Oct-1990
27-Oct-1990
30-Oct-1990
01-Nov-1990
28-Nov-1990
Jan-1991
19-Jan-1991
12-Feb-1991
24-Feb-1991
03-Mar-1991
16-Apr-1991
26-May-1991
07-Jun-1991
26-Jun-1991
29-Jun-1991
July 1991
01-Jul-1991
07-Jul-1991
18-Jul-1991
27-Jul-1991
12-Aug-1991
26-Aug-1991
30-Aug-1991
08-Sep-1991
05-Oct-1991
12-Oct-1991
Nov-1991
26-Nov-1991
1992
08-Jan-1992
23-Jan-1992
29-Jan-1992
08-Mar-1992
10-Mar-1992
28-Mar-1992
09-Apr-1992
19-Jun-1992
28-Jun-1992
21-Jul-1992
17-Aug-1992
29-Aug-1992
11-Sep-1992
01-Oct-1992
22-Oct-1992
29-Oct-1992
05-Nov-1992
06-Nov-1992
11-Nov-1992
Reported 12-Nov-1992
23-Nov-1992
25-Nov-1992
29-Nov-1992
28-Dec-1992
1993
05-Jan-1993
23-Jan-1993
04-Feb 1993
14-Mar-1993
22-Mar-1993
01-Jun-1993
05-Jun-1993
09-Jun-1993
10-Jun-1993
11-Jun-1993
29-Jun-1993
07-Jul-1993
30-Jul-1993
12-Aug-1993
15-Aug-1993
Reported      19-Aug-1993
21-Aug-1993
03-Sep-1993
09-Sep-1993
14-Sep-1993
16-Sep-1993
26-Sep-1993
30-Sep-1993
26-Oct-1993
30-Oct-1993
21-Nov-1993
03-Jan-1994
09-Jan-1994
30-Jan-1994
12-Feb-1994
19-Feb-1994
01-Mar-1994
07-Mar-1994
23-Mar-1994
03-Apr-1994
06-Apr-1994
15-May-1994
23-May-1994
24-May-1994
28-May-1994
31-May-1994
24-Jun-1994
08-Jul-1994
09-Jul-1994
24-Jul-1994
05-Sep-1994
26-Sep-1994
05-Oct-1994
09-Oct-1994
13-Nov-1994
09-Dec-1994
02-Jan-1995
24-Jan-1995
19-Feb-1995
11-Mar-1995
09-Apr-1995
13-Apr-1995
12-May-1995
24-May-1995
26-May-1995
31-May-1995
02-Jun-1995
13-Jun-1995
14-Jun-1995
16-Jun-1995
17-Jun-1995
23-Jun-1995
30-Jun-1995
06-Jul-1995
08-Nov-1984
07-Jul-1995
23-Jul-1995
24-Jul-1995
28-Jul-1995
07-Aug-1995
10-Aug-1995
15-Aug-1995
19-Aug-1995
22-Aug-1995
25-Aug-1995
26-Aug-1995
31-Aug-1995
03-Sep-1995
11-Sep-1995
13-Sep-1995
17-Sep-1995
19-Sep-1995
28-Sep-1995
30-Sep-1995
01-Oct-1995
11-Oct-1995
21-Oct-1995
Reported 28-Oct-1995
11-Nov-1995
10-Jan-1996
16-Jan-1996
22-Jan-1996
23-Jan-1996
04-Feb-1996
09-Feb-1996
Reported      19-Feb-1996
26-Feb-1996
Mar-1996
05-Mar-1996
25-Apr-1996
07-May-1996
10-May-1996
18-May-1996
24-May-1996
28-May-1996
25-Jun-1996
04-Jul-1996
10-Jul-1996
20-Jul-1996
21-Jul-1996
23-Jul-1996
26-Jul-1996
13-Aug-1996
29-Aug-1996
02-Sep-1996
06-Sep-1996
18-Sep-1996
03-Oct-1996
05-Oct-1996
18-Nov-1996
29-Nov-1996
29-Dec-1996
20-Jan-1997
25-Jan-1997
03-Feb-1997
28-Feb-1997
20-Apr-1997
26-May-1997
31-May-1997
02-Jun-1997
09-Jun-1997
15-Jun-1997
12-Jul-1997
14-Jul-1997
21-Jul-1997
27-Jul-1997
02-Aug-1997
05-Aug-1997
10-Aug-1997
11-Aug-1997
14-Aug-1997
24-Aug-1997
27-Aug-1997
30-Aug-1997
06-Sep-1997
08-Sep-1997
09-Sep-1997
16-Sep-1997
04-Oct-1997
21-Oct-1997
24-Oct-1997
28-Oct-1997
Reported 05-Nov-1997
09-Nov-1997
25-Dec-1997
28-Dec-1997
1998
14-Jan-1998
25-Jan-1998
08-Mar-1998
15-Mar-1998
31-Mar-1998
17-Apr-1998
21-Apr-1998
26-Apr-1998
16-May-1998
25-May-1998
29-May-1998
08-Jun-1998
22-Jun-1998
28-Jun-1998
06-Jul-1998
11-Jul-1998
25-Jul-1998
01-Aug-1998
13-Aug-1998
15-Aug-1998
26-Aug-1998
30-Aug-1998
Sep-1998
14-Sep-1998
22-Sep-1998
27-Sep-1998
01-Oct-1998
04-Oct-1998
02-Nov-1998
11-Nov-1998
14-Nov-1998
21-Nov-1998
15-Dec-1998
18-Dec-1998
Reported 20-Dec-1998
22-Dec-1998
24-Dec-1998
1999
29-Jan-1999
03-Feb-1999
23-Feb-1999
05-Mar-1999
08-Mar-1999
14-Mar-1999
18-Mar-1999
01-Apr-1999
11-Apr-1999
22-Apr-1999
01-May-1999
29-May-1999
09-Jun-1999
12-Jun-1999
17-Jun-1999
19-Jun-1999
03-Jul-1999
04-Jul-1999
15-Jul-1999
21-Jul-1999
26-Jul-1999
29-Jul-1999
05-Aug-1999
16-Aug-1999
21-Aug-1999
23-Aug-1999
26-Aug-1999
04-Sep-1999
05-Sep-1999
10-Sep-1999
Reported 16-Sep-1999
29-Sep-1999
01-Oct-1999
30-Oct-1999
Nov-1999
06-Nov-1999
13 -Nov-1999
23-Nov-1999
30-Nov-1999
02-Dec-1999
06-Dec-1999
26-Dec-1999
31-Dec-1999
05-Jan-2000
01-Feb-2000
21-Feb-2000
15-Mar-2000
24-Mar-2000
26-Mar-2000
30-Mar-2000
14-Apr-2000
07-May-2000
02-Jun-2000
09-Jun-2000
10-Jun-2000
19-Jun-2000
02-Jul-2000
04-Jul-2000
06-Jul-2000
07-Jul-2000
09-Jul-2000
12-Jul-2000
16-Jul-2000
17-Jul-2000
22-Jul-2000
12-Aug-2000
15-Aug-2000
30-Aug-2000
31-Aug-2000
08-Sep-2000
10-Sep-2000
11-Sep-2000
12-Sep-2000
15-Sep-2000
16-Sep-2000
19-Sep-2000
24-Sep-2000
25-Sep-2000
02-Oct-2000
06-Oct-2000
09-Oct-2000
14-Oct-2000
18-Oct-2000
20-Oct-2000
04-Nov-2000
06-Nov-2000
17-Nov-2000
03-Dec-2000
12-Dec-2000
24-Dec-2000
24-Jan-2001
04-Feb-2001
03-Mar-2001
02-Apr-2001
02-Ap-2001
08-Apr-2001
10-Apr-2001
11-Apr-2001
12-Apr-2001
13-Apr-2001
28-Apr-2001
03-May-2001
04-May-2001
08-May-2001
18-May-2001
23-May-2001
29-May-2001
03-Jun-2001
12-Jun-2001
Jul-2001
06-Jul-2001
15-Jul-2001
04-Aug-2001
12-Aug-2001
16-Aug-2001
18-Aug-2001
19-Aug-2001
21-Aug-2001
22-Aug-2001
25-Aug-2001
26-Aug-2001
27-Aug-2001
29-Aug-2001
31-Aug-2001
01-Sep-2001
02-Sep-2001
03-Sep-2001
08-Sep-2001
15-Sep-2001
16-Sep-2001
18-Sep-2001
24-Sep-2001
30-Sep-2001
02-Oct-2001
01-Jan-2002
04-Jan-2002
30-Jan-2002
07-Feb-2002
11-Feb-2002
16-Feb-2002
15-Mar-2002
19-Mar-2002
24-Mar-2002
25-Mar-2002
01-Apr-2002
02-Apr-2002
09-Apr-2002
12-Apr-2002
18-Apr-2002
20-Apr-2002
30-Apr-2002
07-May-2002
10-May-2002
13-May-2002
21-May-2002
22-May-2002
31-May-2002
03-Jun-2002
09-Jun-2002
10-Jun-2002
20-Jun-2002
04-Jul-2002
10-Jul-2002
09-Jul-2002
20-Jul-2002
26-Jul-2002
05-Aug-2002
Reported 06-Aug-2002
07-Aug-2002
11-Aug-2002
14-Aug-2002
17-Aug-2002
28-Aug-2002
05-Sep-2002
09-Sep-2002
16-Sep-2002
21-Sep-2002
29-Sep-2002
30-Sep-2002
03-Oct-2002
05-Oct-2002
11-Oct-2002
14-Oct-2002
30-Oct-2002
Nov-2002
02-Nov-2002
11-Nov-2002
14-Nov-2002
17-Nov-2002
28-Nov-2002
01-Dec-2002
16-Dec-2002
21-Dec-2002
24-Dec-2002
29-Dec-2002
08-Feb-2003
11-Feb-2003
15-Feb-2003
27-Feb-2003
04-Apr-2003
11-Apr-2003
15-Apr-2003
18-Apr-2003
19-Apr-2003
20-Apr-2003
21-Apr-2003
23-Apr-2003
25-Apr-2003
03-May-2003
07-May-2003
10-May-2003
14-May-2003
25-May-2003
08-Jun-2003
19-Jun-2003
22-Jun-2003
24-Jun-2003
26-Jun-2003
30-Jun-2003
04-Jul-2003
05-Jul-2003
10-Jul-2003
15-Jul-2003
20-Jul-2003
19-Aug-2003
12-Sep-2003
13-Sep-2003
14-Sep-2003
17-Sep-2003
19-Sep-2003
21-Sep-2003
28-Sep-2003
29-Sep-2003
05-Oct-2003
14-Oct-2003
27-Oct-2003
31-Oct-2003
12-Nov-2003
12-Nov-2003
22-Nov-2003
27-Nov-2003
08-Dec-2003
13-Dec-2003
07-Jan-2004
21-Jan-2004
23-Jan-2004
25-Jan-2004
11-Feb-2004
26-Feb-2004
29-Feb-2004
06-Mar-2004
27-Mar-2004
29-Mar-2004
31-Mar-2004
05-Apr-2004
07-Apr-2004
01-May-2004
18-May-2004
22-May-2004
23-May-2004
29-May-2004
02-Jun-2004
10-Jun-2004
02-Jul-2004
10-Jul-2004
15-Jul-2004
25-Jul-2004
27-Jul-2004
28-Jul-2004
31-Jul-2004
06-Aug-2004
15-Aug-2004
21-Aug-2004
29-Aug-2004

In [51]:
# Buscamos el mes en la columna 'date' con una función:

def month1(x):
    mon = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dic']
    res = 'unknown'
    for i in mon: 
        if i in x.lower(): 
            res = i
        elif 'summer' in x.lower(): 
            res = 'summer'
        else: 
            pass

    return res

shark.month = [month1(x) for x in shark.date]

shark.month.value_counts()

jul        317
aug        283
sep        264
unknown    261
jun        235
oct        220
jan        211
apr        211
nov        189
may        188
mar        174
feb        164
summer       5
Name: month, dtype: int64

In [53]:
for i in shark.year.unique():
    print(i)

0.0
1900.0
1901.0
1902.0
1903.0
1904.0
1905.0
1906.0
1907.0
1908.0
1909.0
1911.0
1912.0
1913.0
1914.0
1915.0
1916.0
1918.0
1919.0
1920.0
1921.0
1922.0
1923.0
1924.0
1925.0
1926.0
1927.0
1928.0
1929.0
1930.0
1931.0
1932.0
1933.0
1934.0
1935.0
1936.0
1937.0
1938.0
1939.0
1940.0
1941.0
1942.0
1943.0
1944.0
1945.0
1946.0
1947.0
1948.0
1949.0
1950.0
1951.0
1952.0
1953.0
1954.0
1955.0
1956.0
1957.0
1958.0
1959.0
1960.0
1961.0
1971.0
1962.0
1963.0
1964.0
1965.0
1966.0
1967.0
1968.0
1969.0
1970.0
1972.0
1973.0
1974.0
1975.0
1976.0
1977.0
1978.0
1979.0
1980.0
1981.0
1982.0
1983.0
1984.0
1985.0
1986.0
1987.0
1988.0
1989.0
1990.0
1991.0
1992.0
1993.0
1994.0
1995.0
1996.0
1997.0
1998.0
1999.0
2000.0
2001.0
2002.0
2003.0
2004.0
2005.0
2006.0
2007.0
2008.0
2009.0
2010.0
2011.0
2012.0
2013.0
2014.0
2015.0
2016.0
2017.0
2018.0

In [27]:
# Filtramos por debajo de 1900:

#shark.drop(index = shark[shark.year<1900].index, inplace = True)
#shark.shape, shark_ori.shape

In [28]:
# En este punto, ya podríamos utilizar la tabla para obtener información estadística de cara al objetivo. 
# Sin embargo, para dejarla mejor terminaremos de limpiar las columnas y rellenaremos lo que podamos de los 
# registros incompletos. 

# Reseteamos el índice porque en principio ya que no vamos a borrar las filas, y rellenamos las columnas 
# 'case_number', 'case_number.1', 'case_number.2' y 'original_order' con este índice de acuerdo a lo razonado 
# al principio del proceso.

shark.reset_index (inplace = True, drop = True)
shark['case_number'] = shark.index
shark['case_number.1'] = shark.index
shark['case_number.2'] = shark.index
shark['original_order'] = shark.index

shark.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,day,month
0,0,Early 1930s,0.0,Unprovoked,BELIZE,NaN,NaN,Standing,a servant,M,16,FATAL,True,NaN,12' tiger shark,Mitchell-Hedges,ND-0026-Belize.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0,0,0,NaN,unknown
1,1,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,13,"FATAL, left leg bitten with severe blood loss",True,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1,1,1,NaN,unknown
2,2,Before 1957,0.0,Provoked,CUBA,Havana Province,Cojimar,"Shark fishing, knocked overboard",Sandrillio,M,50,"FATAL, hip bitten PROVOKED INCIDENT",True,NaN,NaN,"F. Poli, pp.75, 81-83",ND-0051-Sandrillio.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2,2,2,NaN,unknown
3,3,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Swimming in section of river used for washing ...,male,M,16,Right leg lacerated & surgically amputated,False,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0063-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3,3,3,NaN,unknown
4,4,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming naked near a date palm where many dat...,male,M,6,Arm severed,False,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0064-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4,4,4,NaN,unknown